.thumbnail img{
	width: 100%
}

.thumbnail{
	padding:0;
}

.thumbnail .caption-full{
	padding:9px;
}

#delete{
	display:inline;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1505232070786-2f46d15f9f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1829&q=80");
	background-size: cover;
	background-position: bottom;
}

#jumbo-title{
	color:white;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}